.container {
   display: flex;
   margin: 44px auto;
   max-width: 700px;
}

.column {
   background-color: color(gray, light);
   flex: 1 1 auto;
   
   &:hover {
      background-color: color(gray, mild);
   }
}

.cell {   
   border: 1px solid color(gray, mid);
   min-width: 100px;
   min-height: 100px;
   position: relative;
}
