.container {
   display: flex;
   margin: 0 auto 22px;
   max-width: 700px;
}

.column {
   background-color: color(gray, light);
   flex: 1 1 auto;
   
   &:hover {
      background-color: color(gray, mild);
   }
}

.cell {   
   border: 1px solid color(gray, mid);
   min-width: 100px;
   min-height: 100px;
   position: relative;
}

.scoreboard {
   border: 1px solid color(gray, dark);
   border-radius: 4px;
   display: flex;
   font-size: 22px;
   margin: 22px auto;
   max-width: 300px;
   text-align: center;
   width: 100%;
   
   span {
      border: 1px solid color(gray, dark);
      color: color(gray, jet);
      flex: 1 1 50%;
      padding: 11px;
   }
}
