
.modal__container {
   background-color: rgba(color(gray, jet), 0.3);
   bottom: 0;
   display: none;
   left: 0;
   position: absolute;
   right: 0;
   top: 0;
}

.modal {
   background-color: color(gray, light);
   border-radius: 4px;
   color: color(gray, jet);
   display: block;
   left: calc(50% - 200px);
   padding: 22px;
   position: absolute;
   top: 100px;
   text-align: center;
   width: 400px;
}
