
.token {
   border: 4px solid transparent;
   border-radius: 100%;
   left: calc(50% - 44px);
   min-width: 80px;
   min-height: 80px;
   position: absolute;
   top: calc(50% - 44px);
   transform: translateY(-100vh);
   transition: transform 0.5s ease-in;
}

[class*="token--"] {
   transform: translateY(0vh);
   animation: bounce;
   animation-duration: 0.5s;
   animation-delay: 0.5s;
   animation-iteration-count: 1;
}

.token--player {
   background-color: color(player, dark);
   border-color: color(player, light);
}

.token--computer {
   background-color: color(computer, dark);
   border-color: color(computer, light);
}
